# Binaries
**/bin/
**/bin-int/
!premake.exe
obj/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Ignore assets folder
*/assets/*
!*/assets/shaders*

# Ignore cached shader binaries
*/assets/shaders/cached/*
