# Binaries
**/bin/
**/bin-int/
!premake.exe
obj/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Ignore assets folder
*/assets/*

# Dont ignore shaders
!*/assets/shaders*

# Ignore shader cache
*/assets/shaders/cached/*
*/assets/shaders/fft/cached/*

# Ignore cached folders
*/cached/*
